parser: "babel-eslint"

env:
  node: true

ecmaFeatures:
  arrowFunctions: true
  blockBindings: true
  classes: true
  defaultParams: true
  destructuring: true
  modules: true
  objectLiteralComputedProperties: true
  objectLiteralDuplicateProperties: true
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  templateStrings: true
  restParams: true
  spread: true
  superInFunctions: true

rules:
  no-global-strict: 0
  comma-dangle: [2, "always-multiline"]
  strict: 2
  no-undef: 2
  no-use-before-define: 0
  curly: [2, "multi"]

  quotes: [2, "single"]
  indent: [2, 2]
  no-mixed-spaces-and-tabs: [2, "smart-tabs"]
  no-spaced-func: 1
  no-underscore-dangle: 0
  space-after-keywords: [1, "always"]
  space-before-blocks: [1, "always"]
  space-before-function-parentheses: [1, {
    "anonymous": "always",
    "named": "never" }]
  space-in-brackets: [1, "always", {
    "singleValue": false,
    "objectsInArrays": false,
    "arraysInArrays": false,
    "arraysInObjects": true,
    "objectsInObjects": false,
    "propertyName": false }]
